body {
  font: 14px/1.5 -apple-system, BlinkMacSystemFont,Copperplate, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color:#595959;
  font-weight:400;
}
	
h1, h2, h3, h4, h5, h6 {
  color: #222;
  margin:0 0 20px;
}


h1, h2, h3 {
  line-height:1.1;
}

#headerq{
  position: absolute;
  z-index: 0;
  top: 15%;
  left: 18%;
  font-size:90px;
  text-align: center;
  color: #fff;
  font-family: Impact;
  text-shadow: 2px 2px 4px #e6bf12;
}
.headerbar {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  background-color: #000;
}

.progress-container {
  width: 100%;
  height: 0px;
  background: #000;
}

.progress-bar {
  height: 10px;
  background: #28fccf;
  background-image: linear-gradient(to right, #28fccf , yellow);
  width: 0%;
}

#headers{
  position: absolute;
  z-index: 0;
  top: 32%;
  left: 11%;
  font-size:20px;
  text-align: center;
  color: #fff;
  font-family: Verdana;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}


h1 {
  font-size:28px;
  font-weight: 500;
}

h2 {
  color:#393939;
  font-weight: 500;
}

h3, h4, h5, h6 {
  color:#494949;
  font-weight: 500;
}

a {
  color:#39c;
  text-decoration:none;
}

a:hover {
  color:#069;
}

a small {
  font-size:11px;
  color:#777;
  margin-top:-0.3em;
  display:block;
}

a:hover small {
  color:#777;
}

.old-text,
.new-text {
  display: block;
  overflow: hidden;
  transition: all 500ms ease-in-out;
}
.old-text {
  height: auto;
  opacity: 1;
  width: auto;
}
.new-text {
  color: #fff;
  height: 0;
  opacity: 0;
  width: 0;
}

	
.abc:hover .old-text {
  height: 0px;
  opacity: 0;
  width: 0px;
}
.abc:hover .new-text {
  height: auto;
  opacity: 1;
  width: auto;
}

.abc {
  margin:10px;
  height: 180px;
  border-radius:20px;
  background: #f1fa9b;
  transition: background-color 0.5s ease;
  transition-timing-function: ease;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div.abc:hover {
  height: 180px;
  background: #faa59b;
}

.info{
	width:100px;
	height:100px;
  border-radius:20px;
  background: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.parallax {
  background-image: url("mepic.jpeg");
  height: 770px;
  width:100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.parallax1 {

  background-image: url("me2.png");
  height: 600px;
  width:60%;
  background-attachment: fixed;
  background-position: right;
  background-repeat: no-repeat;
  background-size: 60%;
}

.hiswrap2 {
	background-color: #fad49b;
	width:40%;
  }

.hiswrap {
width:65%;
  }
.mywrap {
width:35%;
  }



hr {
  border:0;
  background:#e5e5e5;
  height:1px;
  margin:0 0 20px;
}

html{
overflow-x: visible;}

@media only screen and (max-width: 600px) {
	.parallax {
  background-image: url("mepic.jpeg");
  height: 770px;
  width:700px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


}

}
